# Compiled Object files
*Job Opportunity at Cleaning Exec Cleaning Services
12 John Street, #11F
New York, NY 10038
212-457-8699

Please contact us

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
